body {
    background-image: url(./fondGris.jpg);
    background-repeat: no-repeat;
    background-size: auto;


}

.menu {
    background-color: rgb(25, 40, 115);
    display: flex;
    justify-content: space-between;
    padding: 0;
}

ul.crud {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    padding: 0;
    height: 300px;
}

li {
    list-style: none;
    margin: 10px;
}

li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

/* Style the submit button */
button {
    background-color: rgb(25, 40, 115);

    color: white;
    cursor: pointer;
    width: 40%;
    border: 1px solid #ccc;
    border-radius: 14px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
}

#co {
    margin-left: auto;
    margin-right: auto;
}

/* Style the container for inputs */
.container {
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-color: #f1f1f385;
    padding: 20px;
    width: 60%;
    margin-top: 5%;
}

.formulaire {
    display: flex;

}

label {
    /*display: flex;
    flex-direction: column;
    align-items: center;*/

    width: 80%;
    margin: auto;
    text-align: left;
    display: block;
}

/* The message box is shown when the user clicks on the password field */
#message {
    display: none;
    display: flex;
    flex-direction: column;
    line-height: -30px;
    color: #000;
    position: relative;
    margin: 15px;


}

#message p {

    font-size: 14px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: rgb(101, 246, 34);
}

.valid:before {
    position: relative;
    /*left: -35px;*/
    content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: rgb(32, 46, 118);
    ;
}

.invalid:before {
    position: relative;
    /*left: -35px;*/
    content: "✖";
}

.insc {
    color: rgb(38, 38, 38);
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
}

.alert-danger {
    text-align: center;
    margin: 10px;
    font-size: 15px;
    color: rgb(191, 2, 2);
}

/* ----------------TABLEAU--------------- */
h1 {
    color: rgb(0, 0, 0);
    text-align: center;
}


table {
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px 20px 0px 0px;
    background-color: #f1f1f385;
    margin-top: 5%;
    border-collapse: collapse;
}

tbody td {
    border: 1px solid black;
    padding: 15px 20px;
    text-align: center;
}

thead tr {
    background-color: rgb(25, 40, 115);
    color: white;

}


.radius {
    border-radius: 20px 0px 0px 0px;
}

.radius2 {
    border-radius: 0px 20px 0px 0px;
}

/* --------------------- mise en forme des bouton------------------ */

.btn {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(12, 105, 175);
    color: white;
    font-weight: bolder;
    box-shadow: 0px 9px 15px 1px rgba(93, 93, 93, 0.703);
    white-space: nowrap;
    cursor: pointer;
    margin: auto;
    padding: 5px;
    border: 1px solid rgb(12, 105, 175);

}

.btn:hover {
    transform: scale(0.9);
}

/* *****************readInfo*************************** */
.container-readInfo {
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-color: #f1f1f385;
    padding: 20px;
    width: 60%;
    margin-top: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

h5 {
    font-size: 20px;
    color: rgb(25, 40, 115);
    font-weight: 900;
    margin-right: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}